.root {

}
.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.vbox{
    -fx-background-color: #c62828;
}
.center{
    -fx-background-color: #212121;
}


.jfx-tab-pane .headers-region
{
    -fx-background-color: #c62828;
}

.jfx-tab-pane .tab-header-background
{
    -fx-background-color: #c62828;
}

.jfx-tab-pane .tab-selected-line {
	 -fx-stroke: #212121;
	 -fx-border-color: #212121;
 }